h1 {
  text-align: center;
  font-family: Angsana New;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 2rem;
  padding: 10px;
  color: #fff;
  border: 2px solid #c50e0e;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #c50e0e;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  	margin: 70px auto;
  	padding: 20px;
  	background: #000000f0;
  	border-radius: 15px;
  	width: 100%;
	  height: 92.5vh;
	  margin:auto;
	  top:0px;
	  right:0px;
	  left:0px;
	  bottom:0px;
	  position: absolute;
  	object-fit: cover;/* 縦横比を保ったまま画像を中央に配置して切り抜き */
}

.popup h2 {
  margin-top: 0;
  color: white;
  font-family: Angsana New;
  z-index: 10001;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #a2a2a27d;
}
.popup .close:hover {
  color: #c50e0e;
}
.popup .content {
  max-height: 50%;
  overflow: auto;
}

@media screen{
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/*--------------------------------------------------------*/

.sec{
	  max-height: 600px;
    max-width: 600px;
    height: 37.5vh;
  	width: 37.5%;
  	border-radius:5%;
}
.text-01{
  font-size: 2.8rem;
  font-weight: normal;
  text-shadow:3px 3px 7px #000000;
  font-weight:bold;
  padding:0;
  font-family: Angsana New; /*Google Fonts*/
  z-index: 10001;
  color: white;
}
.text-02{
  font-size: 2rem;
  font-weight: normal;
  text-shadow:3px 3px 7px #000000;
  margin:5px 0 0 0;
  font-weight: bold;
  padding:0;
  font-family: Angsana New; /*Google Fonts*/
  z-index: 10001;
  color: white;
}
p{
  margin-top: 5px;
  margin-bottom: 0px;
}